/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Variables */
:root {
    --font-roboto: "Roboto", sans-serif;
    --bg-header: rgba(255,255,255,0.9)
}

/* General */
body {
    font-family: var(--font-roboto);
}

.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-y: auto;
}

.sidebar-scrollbar:hover {
  scrollbar-color: gray transparent;
  overflow-y: auto;
}

