/* Imports */
@import "tailwindcss";

/* Variables */

/* General */

.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-y: auto;
}

.sidebar-scrollbar:hover {
  scrollbar-color: gray transparent;
  overflow-y: auto;
}
